<div class="flex justify-center">
  <div class="block p-6 rounded-lg shadow-lg bg-white max-w-s">
    <h5 class="text-gray-900 text-xl  leading-tight font-medium mb-2 "> Bienvenido a la Web Mundial </h5>

    <p class="text-gray-700 text-base mb-4">
      Bienvenido <strong><%= link_to current_user.username, edit_user_registration_path, class: 'nav-link'%></strong>
      Un placer Tenerte como usuario.
    </p>
    <p class="text-gray-700 text-base mb-4"> Si eres admin, Puedes crear blogs, Categorias, productos y muchas cosas mas. </p>
  </div>
</div>

<p style="color: green"><%= notice %></p>
