<p style="color: green"><%= notice %></p>



<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="grid grid-rows-3 gap-4">
      <div class="justify-items-center">
        <div class="">
          <div class="">
            <%= render post %>
            <%= link_to "Show this post", post, class: ''  %>
            <%= link_to "New post", new_post_path, class: 'btn-outline'  %>
          </div>  
        </div>
      </div>      
    </div>        
  <% end %>
</div>

