.dropdown {
  @apply relative;
}
.dropdown .dropdown-wrap {
  @apply inline-block rounded-sm cursor-pointer;
}
.dropdown .dropdown-wrap .dropdown-text {
  @apply text-white text-xl;
}
.dropdown .dropdown-wrap .dropdown-text:hover, .dropdown .dropdown-wrap .dropdown-text:focus, .dropdown .dropdown-wrap .dropdown-text:focus-within {
  @apply text-secondary-600;
}
.dropdown .dropdown-wrap .dropdown-wrap-icon {
  @apply inline-block transform transition-all duration-300 ease-in-out;
}
.dropdown .dropdown-content {
  z-index: -1;
  @apply bg-white w-40 overflow-hidden absolute left-1/2 -translate-x-1/2 mt-1 rounded-md shadow-lg opacity-0 transition-all duration-500 ease-in-out list-none;
}
.dropdown .dropdown-content .dropdown-item {
  @apply bg-transparent block text-left text-tertiary-800 px-4 py-2 transition-all duration-300 ease-in-out w-full;
}
.dropdown .dropdown-content .dropdown-item:hover {
  @apply bg-primary-100;
}
.dropdown .dropdown-content .dropdown-divider {
  @apply my-2 mx-6 border-t border-slate-200;
}
.dropdown .dropdown-content .dropdown-title {
  @apply font-semibold px-4 mb-2 text-xs text-tertiary-600 uppercase;
}
.dropdown .dropdown-content .notification-message {
  @apply text-slate-700 text-sm;
}
.dropdown .dropdown-content.is-fade-up {
  top: 200%;
}
.dropdown .user {
  @apply flex items-center;
}
.dropdown .user svg {
  @apply ml-2 text-white transition-all duration-300 ease-in-out;
}
.dropdown.is-hovered:hover .dropdown-content {
  @apply opacity-100 z-10;
}
.dropdown.is-hovered:hover .dropdown-content.is-fade-up {
  top: 100%;
}
.dropdown.is-hovered:hover .user svg {
  @apply rotate-180;
}
.dropdown.has-large-text .dropdown-content {
  @apply w-auto;
}
.dropdown.has-large-text .dropdown-content .dropdown-item, .dropdown.has-large-text .dropdown-content button, .dropdown.has-large-text .dropdown-content p, .dropdown.has-large-text .dropdown-content li, .dropdown.has-large-text .dropdown-content a {
  @apply whitespace-nowrap;
}
